@import '../../styles/_Root.scss';
html{
    body{
        .basic-button--small{
            min-width:98px;
            height: 48px;
            background-color: $main-color;
            border-radius: 3px;
            color:#fff;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 13px;
            // margin: 15px 0;
            
            font-weight: normal;
            transition: all .3s ease-in;
            &.disable{
                background-color: $disable-color;
            }
        }

        .white{
            background-color: #FFFFFF;
            border: 1px solid #EBEBEB;
            color: #555555;
        }

        .gray{
            background-color: #F6F6F6;
            color: #555555;
        }
    }
}
