
html{
    body{
        .like{
            width:20px;
            height: 20px;
        }
        .like-button{
            position: absolute;
            right: 0px;
            top:2px;
            box-sizing: border-box;
        }
    }
}

