@import '../../styles/_Root.scss';
@import '../../styles/_Value.scss';

.container{
    @include container;
    background-color: #ECECEC;

    .content{
        background-color: #fff;
        padding: $padding-side;
        padding-top:20px;
        padding-bottom:20px;
        min-height :94vh;
        box-sizing: border-box;
        &.none{
            padding:0;
        }
        position: relative;
 
    }
}
.realty-img{
    width: 100%;
    height: 220px;
    // background-image: url('../../static/image/realty/rinda1.jpg');
}
