
@import '../../styles/_Root.scss';
.container{
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    .contract-img{
        width:100%;
        height: 500px;
    }
}

html{
    body{
        .dialog{
            // border: 5px solid red;;
            // z-index: 9999 !important;
        }
    }
}