@import '../../styles/_Root.scss';
@import '../../styles/_Value.scss';
@import '../../styles/_Modal.scss';
.header {
  width: 100%;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  z-index: $level0;
  .content {
    max-width: $max-width;
    width: 100%;
    margin: 0 auto;
    position: relative;
    background-color: #fff;
    height: $header;
    transition: all 0.15s ease-in;
    .title {
      display: flex;
      width: 100%;
      height: 100%;
      text-align: left;
      color: #333;
      padding-left: 48px;
      padding-right: 48px;
      letter-spacing: -1px;
      align-items: center;
      h1 {
        font-weight: 500;
        font-size: 20px;
        width: 100%;
        @include ellipsis(1,1.2em);
      }
    }
  }
  .shadow {
    // height: 40px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
  }
}

html {
  body {
    .back-btn {
      width: $header;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
    }
  }
}
