@import '../../styles/_Root.scss';


.container{
    @include container;
    
    .content{
        .logo-box{
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 160px;
            padding:40px 0;
            .logo{
                width: 80px;
                height: 80px;
                border-radius: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                overflow: hidden;
                background-color:$main-color;
                img{
                    width: 48px;
                    height: 48px;
                }            
            }
        }
        .wrapper{
            width: 100%;
            padding:$padding-side;
            .input-box{
                width: 100%;
                margin-bottom:15px;
                input{
                    letter-spacing: $letter-spaceing;
                    font-size: 16px ;
                    color:#222;
                    box-sizing: border-box;
                    border-radius: 100px;
                    background-color:#EFEFEF;
                    height: 48px;
                    padding-left:15px;
                    width: 100%;
                }
            }
            .find-info{
                width: 100%;
                position: relative;
                .link{
                    font-size: 14px;
                    font-weight: 500;
                    letter-spacing: $letter-spaceing;
                    color:#999;
                    position: absolute;
                    right: 5px;
                }
            }
            .button-box{
                margin-top:80px;
            }
        
        }
        
     
    }
}
html{
    body{
        .basic-button{
            width: 100%;
            height: 56px;
            background-color: $main-color;
            border-radius: 10px;
            color:#fff;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 17px;
            margin: 15px 0;
            font-weight: bold;
            transition: all .3s ease-in;
            &.disable{
                background-color: $disable-color;
            }
        }

        .white{
            background-color: #FFFFFF;
            border: 1px solid #EBEBEB;
            color: #555555;
        }

        .gray{
            border:1px solid #EBEBEB;
            background-color: #fff;
            color: #777777;
        }
    }


    .sns-box{
        margin-top:130px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .sns-text{
            color:#777;
            font-size: 14px;
            margin-bottom:15px;
        }
        .sns-icon{
            .sns-login{
                margin : 0 15px;
                padding:0;
                width: 48px;
                height: 48px;
                border-radius: 100%;
        }
        }
    }

}
