@import '../../styles/_Root.scss';

.container {
  @include container;
  position: relative;
  .content {
    .logo-box {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 160px;
      padding: 40px 0;
      .logo {
        width: 80px;
        height: 80px;
        border-radius: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        background-color: $main-color;
        img {
          width: 48px;
          height: 48px;
        }
      }
    }
    .wrapper {
      width: 100%;
      padding: $padding-side;
      .input-box {
        width: 100%;
        margin-bottom: 15px;
        input {
          letter-spacing: $letter-spaceing;
          font-size: 16px;
          color: #222;
          box-sizing: border-box;
          border-radius: 100px;
          background-color: #efefef;
          height: 48px;
          padding-left: 15px;
          width: 100%;
        }
      }
      .find-info {
        width: 100%;
        position: relative;
        .link {
          font-size: 14px;
          font-weight: 500;
          letter-spacing: $letter-spaceing;
          color: #999;
          position: absolute;
          right: 5px;
        }
      }
      .button-box {
        margin-top: 80px;
      }
    }
  }
}
html {
  body {
    .sns-box {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      margin: 50px 0;
      @media (min-width: 341px) {
        position: absolute;
        left: 50%;
        bottom: 0;
        margin: 0;
        margin-bottom: 5px;
        transform: translate(-50%, -50%);
      }

      .sns-text {
        color: #777;
        font-size: 14px;
        margin-bottom: 15px;
      }
      .sns-icon {
        .sns-login {
          margin: 0 15px;
          padding: 0;
          width: 48px;
          height: 48px;
          border-radius: 100%;
        }
      }
    }
  }
}
