@import '../../../styles/_Root.scss';

.container{
    @include container;

    .content{
        padding:$padding-side;
        width: 100%;
    }
    .box{
        margin-top:30px;
        border:1px solid #EBEBEB;
        height: 160px;
        width: 100%;
        border-radius: 5px;
        position: relative;
        padding: 30px 15px;

        .title{
            font-size: 22px;
            font-weight: bold;
            letter-spacing: $letter-spaceing;
            color:#333;
            margin-bottom:5px;
        }
        .text{
            font-size: 14px;
            font-weight: 500;
            color:#777;
        }
        .icon{
            position: absolute;
            right: 15px;
            top: 50%;
            transform: translateY(-50%);
        }
    }
}